<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>QuickBite</title>

  <style>

    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:Arial, Helvetica, sans-serif;
    }

    body{
      background:white;
    }

    /* Navbar */

    nav{
      background:transparent;

      padding:15px 8%;

      display:flex;

      justify-content:space-between;

      align-items:center;

      color:white;

      position:fixed;

      top:0;

      width:100%;

      z-index:1000;
    }
    .hide-navbar{

      transform:translateY(-100%);

      transition:0.6s;
    }

    nav h1{
      font-size:30px;
      color:#ffffff;
    }

    nav ul{
      display:flex;
      list-style:none;
      gap:25px;
    }

    nav ul li{
      cursor:pointer;
      transition:0.3s;
      font-size:17px;
    }

    nav ul li:hover{
      color:#facc15;
    }

    .nav-btn{
      padding:15px 20px;
      border:none;
      background:#facc15;
      color:#111827;
      border-radius:8px;
      cursor:pointer;
      font-weight:bold;
      transition:0.3s;
    }

    .nav-btn:hover{
      transform:scale(1.05);
    }
    

    /* Hero Section */

    .hero{
      height:100vh;

      background:
      linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
      url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1600&auto=format&fit=crop');

      background-size:cover;
      background-position:center;

      display:flex;
      justify-content:center;
      align-items:center;
      text-align:center;

      color:white;
      padding:20px;
    }

    .hero-content h2{
      font-size:60px;
      margin-bottom:20px;
    }

    .hero-content p{
      font-size:22px;
      margin-bottom:30px;
    }

    .hero-btn{
      padding:15px 35px;
      border:none;
      border-radius:10px;
      background:#facc15;
      color:#111827;
      font-size:18px;
      font-weight:bold;
      cursor:pointer;
      transition:0.3s;
    }

    .hero-btn:hover{
      transform:scale(1.08);
    }

    /* Food Section */

    .food-section{
      padding:70px 8%;
    }

    .food-section h2{
      text-align:center;
      margin-bottom:45px;
      font-size:38px;
      color:#111827;
    }

    .food-container{
      display:grid;

      grid-template-columns:
      repeat(auto-fit,minmax(250px,1fr));

      gap:30px;
    }

    .food-card{
      background:white;
      border-radius:15px;
      overflow:hidden;
      box-shadow:0 5px 15px rgba(0,0,0,0.1);
      transition:0.3s;
    }

    .food-card:hover{
      transform:translateY(-10px);
    }

    .food-card img{
      width:100%;
      height:220px;
      object-fit:cover;
    }

    .food-info{
      padding:20px;
    }

    .food-info h3{
      margin-bottom:10px;
      color:#111827;
      font-size:24px;
    }

    .food-info p{
      color:gray;
      margin-bottom:15px;
      line-height:1.5;
    }

    .price{
      font-size:22px;
      font-weight:bold;
      color:#f97316;
      margin-bottom:15px;
    }

    .cart-btn{
      width:100%;
      padding:12px;
      border:none;
      border-radius:8px;
      background:#111827;
      color:white;
      cursor:pointer;
      font-size:16px;
      transition:0.3s;
    }

    .cart-btn:hover{
      background:#1f2937;
    }
    .nav-btn a{
      text-decoration:none;
      color:#111827;
    }
    .home1-icon{
      text-decoration:none;
      color:rgb(255, 255, 255);
    }

    /* Footer */

    footer{
      background:#111827;
      color:white;
      text-align:center;
      padding:25px;
      margin-top:50px;
    }

    /* Responsive */

    @media(max-width:768px){

      nav{
        flex-direction:column;
        gap:15px;
      }

      nav ul{
        flex-wrap:wrap;
        justify-content:center;
      }

      .hero-content h2{
        font-size:40px;
      }

      .hero-content p{
        font-size:18px;
      }
      

    }

  </style>

</head>

<body>

  <!-- Navbar -->

  <nav id ="navbar">

    <h1><a href="\api\home" class="home1-icon">QuickBite</a></h1>

    <button class="nav-btn">
      <a href="\api\signup">Signup</a>
    </button>

  </nav>

  <!-- Hero Section -->

  <section class="hero">

    <div class="hero-content">

      <h2>
        Delicious Food Delivered Fast 
      </h2>

      <p>
        Fresh meals delivered to your doorstep
        anytime, anywhere.
      </p>

      <button class="hero-btn" id="orderBtn">
        <a href="\api\login" class="home1-icon">Order Now</a>
      </button>

    </div>

  </section>

  <!-- Food Cards -->

  <section class="food-section">

    <h2>Popular Foods</h2>

    <div class="food-container">

      <!-- Card 1 -->

      <div class="food-card">

        <img
        src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd?q=80&w=1000&auto=format&fit=crop"
        alt="Burger">

        <div class="food-info">

          <h3>Cheese Burger</h3>

          <p>
            Loaded with cheese and fresh veggies.
          </p>

        </div>

      </div>

      <!-- Card 2 -->

      <div class="food-card">

        <img
        src="https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=1000&auto=format&fit=crop"
        alt="Pizza">

        <div class="food-info">

          <h3>Italian Pizza</h3>

          <p>
            Crispy pizza with extra cheese topping.
          </p>


        </div>

      </div>

      <!-- Card 3 -->

      <div class="food-card">

        <img
        src="https://images.unsplash.com/photo-1604908176997-125f25cc6f3d?q=80&w=1000&auto=format&fit=crop"
        alt="Pasta">

        <div class="food-info">

          <h3>White Sauce Pasta</h3>

          <p>
            Creamy pasta with delicious flavors.
          </p>


        </div>



      </div>
       <div class="food-card">

         <img
          src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?q=80&w=1000&auto=format&fit=crop"
          alt="Burger">

        <div class="food-info">

          <h3>Classic Burger</h3>

            <p>
              Juicy burger loaded with fresh veggies.
            </p>


        </div>




      </div>

       <div class="food-card">

        <img
          src="https://images.unsplash.com/photo-1604908176997-125f25cc6f3d?q=80&w=1000&auto=format&fit=crop"
          alt="Pasta">

        <div class="food-info">

          <h3>White Sauce Pasta</h3>

          <p>
            Creamy pasta with rich white sauce flavor.
          </p>


        </div>



      </div>
       <div class="food-card">

       <img
        src="https://images.unsplash.com/photo-1601050690597-df0568f70950?q=80&w=1000&auto=format&fit=crop"
        alt="Spring Rolls">

        <div class="food-info">

           <h3>Spring Rolls</h3>

            <p>
              Crispy rolls stuffed with spicy vegetables.
            </p>


        </div>



      </div>
       <div class="food-card">

        <img
          src="https://images.unsplash.com/photo-1626082927389-6cd097cdc6ec?q=80&w=1000&auto=format&fit=crop"
          alt="Momos">

        <div class="food-info">

          <h3>Chicken Momos</h3>

          <p>
            Steamed momos served with spicy chutney.
          </p>


        </div>



      </div>
       <div class="food-card">

         <img
          src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1000&auto=format&fit=crop"
          alt="Salad">

        <div class="food-info">

          <h3>Fresh Salad</h3>

          <p>
            Healthy salad with fresh organic veggies.
          </p>


        </div>



      </div>
       <div class="food-card">

        <img
        src="https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=1000&auto=format&fit=crop"
        alt="Pizza">

        <div class="food-info">

          <h3>Italian Pizza</h3>

          <p>
            Crispy pizza with extra cheese topping.
          </p>


        </div>



      </div>
       <div class="food-card">

        <img
          src="https://images.unsplash.com/photo-1578985545062-69928b1d9587?q=80&w=1000&auto=format&fit=crop"
          alt="Cake">

        <div class="food-info">

          <h3>Chocolate Cake</h3>

           <p>
              Soft chocolate cake topped with cream.
            </p>


        </div>



    </div>

    <div class="food-card">

      <img
      src="https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?q=80&w=1000&auto=format&fit=crop"
      alt="Tacos">

      <div class="food-info">

        <h3>Mexican Tacos</h3>

        <p>
          Crunchy tacos filled with spicy chicken.
        </p>

      </div>

    </div>

      <div class="food-card">

        <img
          src="https://images.unsplash.com/photo-1701579231349-d7459c40919d?q=80&w=1000&auto=format&fit=crop"
          alt="Biryani">

          <div class="food-info">

            <h3>Chicken Biryani</h3>

            <p>
              Aromatic biryani cooked with spicy masala.
            </p>

          </div>

      </div>

    </div>

  </section>

  <!-- Footer -->

  <footer>

    <p>
      © 2026 QuickBite | All Rights Reserved
    </p>

  </footer>
<script>

const navbar =
document.getElementById("navbar");

window.addEventListener("scroll",function(){

  if(window.scrollY > 130){

    navbar.classList.add("hide-navbar");

  }

  else{

    navbar.classList.remove("hide-navbar");
  }

});

</script>
  

</body>
</html>