<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport"
  content="width=device-width, initial-scale=1.0">

  <title>QuickBite Menu</title>

  <style>

    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:Arial, Helvetica, sans-serif;
    }

      body{
      background:#e9dbc6;
      padding: 100px 40px 40px;
    }

.navbar{

  position:fixed;

  top:0;

  left:0;

  width:100%;


  background:#e9dbc6;

  display:flex;

  justify-content:space-between;

  align-items:center;
  background:transparent;
  padding:15px 8%;

  padding:0 25px;

  z-index:1000;
}
.navbar {
  transition: transform 0.4s ease;
}

.hide-navbar{

      transform:translateY(-100%);
    }

.menu-icon{

  font-size:40px;

  cursor:pointer;
}

.nav-right{

  display:flex;
  padding-top: 1.5%;

  gap:20px;
}

.icon{

  font-size:30px;
  text-decoration:none;
  cursor:pointer;
  transition:.3s;
  width:45px;
  padding:1px;
}

.icon:hover{

  transform:scale(1.15);
}

/* Sidebar */

.bottom-menu{
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
}

.bottom-menu a{
    display: block;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #ffe5e5;
}

.bottom-menu a:hover{
    background: #ffe5e5;
}


.side-menu{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: #e9dbc6;
    transition: left 0.3s ease;
    z-index: 9999; /* very high */
    box-shadow: 2px 0 15px rgba(0,0,0,0.2);
    padding-top: 80px;
}

.side-menu.active{
    left: 0;
}

.side-menu.active{

  left:0;
}

.side-menu a{

  display:block;

  padding:18px 25px;

  text-decoration:none;

  color:#271211;

  font-size:18px;

  border-bottom:1px solid #eee;
}

.side-menu a:hover{

  background:#e8c48e;
}

    .title{

      text-align:center;

      font-size:45px;

      margin-bottom:30px;

      color:#111827;
    }

    /* Search */

    .search-box{

      display:flex;

      justify-content:center;

      margin-bottom:50px;
      
    }

    .search-box input{

      width:400px;

      max-width:90%;

      padding:15px 20px;

      border:none;

      outline:none;

      border-radius:50px;

      font-size:17px;

      box-shadow:0 5px 15px #f0d5ac;
    }

    /* Menu */

    .menu-container{

      display:grid;

      grid-template-columns:
      repeat(auto-fit,minmax(280px,1fr));

      gap:30px;
    }

    /* Card */

    .food-card{

      background:	#e8c48e;

      border-radius:20px;

      overflow:hidden;

      box-shadow:0 5px 15px rgba(0,0,0,0.1);

      transition:0.3s;
    }

    .food-card:hover{
      transform:translateY(-10px);
    }

    .food-card img{

      width:100%;

      height:220px;

      object-fit:cover;
    }

    .food-content{
      padding:20px;
    }

    .food-content h2{

      margin-bottom:10px;

      color:#111827;
    }

    .food-content p{

      color:gray;

      margin-bottom:15px;
    }

    .price{

      font-size:24px;

      color:#f97316;

      font-weight:bold;

      margin-bottom:15px;
    }

    /* Quantity */

    .quantity{

      display:flex;

      align-items:center;

      gap:15px;

      margin-bottom:20px;
    }

    .quantity button{

      width:35px;

      height:35px;

      border:none;

      border-radius:50%;

      background:#111827;

      color:white;

      font-size:20px;

      cursor:pointer;
    }

    .quantity span{

      font-size:20px;

      font-weight:bold;
    }

    /* Add Cart Button */

    .cart-btn{

      width:100%;

      padding:13px;

      border:none;

      border-radius:10px;

      background:#111827;

      color:white;

      font-size:16px;

      cursor:pointer;

      transition:0.3s;
    }

    .cart-btn:hover{

      background:#1f2937;

      transform:scale(1.02);
    }

    /* Bottom Cart Bar */

    .cart-bar{

      position:fixed;

      bottom:20px;

      left:50%;

      transform:translateX(-50%);

      width:90%;

      max-width:550px;

      background:#e85d75;

      color:white;

      padding:18px 22px;

      border-radius:15px;

      display:flex;

      justify-content:space-between;

      align-items:center;

      box-shadow:0 5px 15px rgba(0,0,0,0.2);

      font-size:18px;

      font-weight:bold;

      display:none;
    }

    .cart-bar button{

      background:white;

      color:#e85d75;

      border:none;

      padding:10px 18px;

      border-radius:10px;

      cursor:pointer;

      font-weight:bold;
    }
    .home1-icon{
      text-decoration:none;
      color:rgb(6, 7, 4);
    }
    
  </style>

</head>

<body>

  <!-- Top Navbar -->

<div class="navbar">

  <div class="menu-icon"
  onclick="toggleSidebar()">
    ☰
  </div>

  <div class="nav-right">

    <span class="icon">
      🔔
    </span>

    <a href="\api\profile">
      <img src="/profile.png" alt="profile" class="icon">
    </a>

  </div>

</div>

<!-- Side Menu -->

<div class="side-menu"
id="sideMenu">

  <a href="\api\cart">Cart</a>

  <a href="\api\orders">Orders</a>

  <a href="\api\settings">Settings</a>

  <a class="bottom-menu" href="\api\home">Logout</a>

</div>





  <!-- Search -->

  <div class="search-box">

    <input
      type="text"
      id="searchInput"
      placeholder="Search delicious food..."
    >

  </div>

  <!-- Food Cards -->

  <div class="menu-container"
  id="menuContainer">

  </div>

  <!-- Bottom Cart -->

  <div class="cart-bar"
  id="cartBar">

    <span id="cartText">
      0 Items Added 
    </span>

    <button>
      <a href="\api\cart" class="home1-icon">Buy Now</a>
    </button>

  </div>

  <script>

    const foods = [

        {
          name:"Cheese Burger",
          price:"₹199",
          image:"https://images.unsplash.com/photo-1568901346375-23c9450c58cd?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Italian Pizza",
          price:"₹299",
          image:"https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"White Sauce Pasta",
          price:"₹249",
          image:"https://images.unsplash.com/photo-1604908176997-125f25cc6f3d?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"French Fries",
          price:"₹149",
          image:"https://images.unsplash.com/photo-1573080496219-bb080dd4f877?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Chicken Biryani",
          price:"₹349",
          image:"https://images.unsplash.com/photo-1701579231349-d7459c40919d?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Veg Sandwich",
          price:"₹129",
          image:"https://images.unsplash.com/photo-1528735602780-2552fd46c7af?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Chocolate Cake",
          price:"₹220",
          image:"https://images.unsplash.com/photo-1578985545062-69928b1d9587?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Ice Cream",
          price:"₹99",
          image:"https://images.unsplash.com/photo-1563805042-7684c019e1cb?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Fried Chicken",
          price:"₹279",
          image:"https://images.unsplash.com/photo-1562967914-608f82629710?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Momos",
          price:"₹180",
          image:"https://images.unsplash.com/photo-1626082927389-6cd097cdc6ec?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Paneer Tikka",
          price:"₹260",
          image:"https://images.unsplash.com/photo-1567188040759-fb8a883dc6d8?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Noodles",
          price:"₹199",
          image:"https://images.unsplash.com/photo-1612929633738-8fe44f7ec841?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Tacos",
          price:"₹240",
          image:"https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Cold Coffee",
          price:"₹129",
          image:"https://images.unsplash.com/photo-1517701604599-bb29b565090c?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Donuts",
          price:"₹140",
          image:"https://images.unsplash.com/photo-1551024506-0bccd828d307?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Cup Cake",
          price:"₹110",
          image:"https://images.unsplash.com/photo-1486427944299-d1955d23e34d?q=80&w=1000&auto=format&fit=crop"
        },
        {
          name:"Orange Juice",
          price:"₹110",
          image:"https://images.unsplash.com/photo-1621506289937-a8e4df240d0b?q=80&w=1000&auto=format&fit=crop"
        },
        {
          name:"Pancakes",
          price:"₹170",
          image:"https://images.unsplash.com/photo-1528207776546-365bb710ee93?q=80&w=1000&auto=format&fit=crop"
        },
        {
          name:"Spring Rolls",
          price:"₹160",
          image:"https://images.unsplash.com/photo-1601050690597-df0568f70950?q=80&w=1000&auto=format&fit=crop"
        },
        {
          name:"Garlic Bread",
          price:"₹139",
          image:"https://images.pexels.com/photos/209206/pexels-photo-209206.jpeg"
        },

        {
          name:"Coffee",
          price:"₹90",
          image:"https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Milk Shake",
          price:"₹160",
          image:"https://images.unsplash.com/photo-1572490122747-3968b75cc699?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Salad",
          price:"₹150",
          image:"https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1000&auto=format&fit=crop"
        },

        {
          name:"Sushi",
          price:"₹399",
          image:"https://images.unsplash.com/photo-1579871494447-9811cf80d66c?q=80&w=1000&auto=format&fit=crop"
        }

    ];

    const menuContainer =
    document.getElementById("menuContainer");

    let quantities =
    new Array(foods.length).fill(1);

    let cartCount = 0;

    // Display Foods

    function displayFoods(filteredFoods){

      menuContainer.innerHTML = "";

      filteredFoods.forEach((food,index)=>{

        menuContainer.innerHTML += `

        <div class="food-card">

          <img src="${food.image}">

          <div class="food-content">

            <h2>${food.name}</h2>

            <p>
              Fresh and delicious food for you.
            </p>

            <div class="price">
              ${food.price}
            </div>

            <div class="quantity">

              <button onclick="decrease(${index})">
                -
              </button>

              <span id="qty${index}">
                ${quantities[index]}
              </span>

              <button onclick="increase(${index})">
                +
              </button>

            </div>

            <button
              class="cart-btn"
              onclick="addToCart(${index})"
            >
              Add To Cart
            </button>

          </div>

        </div>

        `;
      });

    }

    // Initial Display

    displayFoods(foods);

    // Search

    const searchInput =
    document.getElementById("searchInput");

    searchInput.addEventListener("keyup",
    function(){

      const searchValue =
      searchInput.value.toLowerCase();

      const filteredFoods =
      foods.filter(food =>

      food.name.toLowerCase()
      .includes(searchValue)

      );

      displayFoods(filteredFoods);

    });

    // Increase

    function increase(index){

      quantities[index]++;

      document.getElementById("qty"+index)
      .innerHTML = quantities[index];
    }

    // Decrease

    function decrease(index){

      if(quantities[index] > 1){

        quantities[index]--;

        document.getElementById("qty"+index)
        .innerHTML = quantities[index];
      }
    }

    // Add To Cart

    function addToCart(index){

      cartCount += quantities[index];

      document.getElementById("cartBar")
      .style.display = "flex";

      document.getElementById("cartText")
      .innerHTML =
      cartCount +
      " Items Added";

    }

    function toggleSidebar(){

  document
  .getElementById("sideMenu")
  .classList
  .toggle("active");
}
let lastScrollY = window.scrollY;
const navbar = document.querySelector(".navbar");

window.addEventListener("scroll", () => {
  if (window.scrollY > lastScrollY) {
    // scrolling down → hide navbar
    navbar.classList.add("hide-navbar");
  } else {
    // scrolling up → show navbar
    navbar.classList.remove("hide-navbar");
  }

  lastScrollY = window.scrollY;
});
    

  </script>

</body>

</html>